@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$text-color: #58575F;
$body-color: #F2EEE8;
$post-bg-color: #FFFBF5;
$gray-text-color: #C6C1B0;
$blue-bg-color: #80a8cc;
$dack-blue-color:#6c94b8;


@mixin font_style($color, $weight, $size) {
    color: $color;
    font-weight: $weight;
    font-size: $size; 
}

@mixin center($location) {
    margin-left: auto;
    margin-right: auto;
    text-align: $location;
}
@mixin box-size($width,$height){
	width: $width;
	height: $height;
}
@mixin circle($b_color,$f_color){
	background-color: $b_color;
	@include box-size(4em,4em);
	border-radius: 3.5em;
	margin-top: 1.8em; 
	p {
		@include center(center);
	  	@include font_style($f_color, 800, 2em);
	  	padding-top: 10px;
	  }		
}
@mixin list_style($width) {
  width: $width;
  float: left;
  position: relative;
}
.com_box_style {
    text-shadow: none;
    box-shadow: none;
}
@mixin icon_style($color) {
	@include font_style($color, 400, 1.5em);
}
.clearfix {
	&:after {
	    content: " ";
	    display: table;
	    clear: both;
	}
}

html {
	background-color: $body-color;
}
body {
	font-size: 62.5%;
	position: relative;
}
header {
	background-color: $post-bg-color;
	width: 100%;
	height: 8em;
	> * {
		float: left;
	}
	border-bottom: 1px solid gainsboro;
}

.left_header {
	width: 33.33%;
	
	ul {
		.editor {
		    @include box-sizing(border-box);
			border: 1px solid gainsboro;
			@include box-size(8em,8em);
			margin-right: 2em;
			div {
				@include circle(#80a8cc,white);
				@include center(center);
				border: none;
			}
		}
		li {
			@include list_style(15%);
			div {
				@include circle(rgba(255,255,255,0),black);
				border:1px solid gainsboro;
  				@include box-sizing(border-box);
			}
		}
	}
	
}
.mid_header{
	@include center(center);
	width: 33.33%;
	.icon-twitter {
		@include center(center);
		width: 60%;
		margin-top: 0.8em;
		@include font_style(#80a8cc, 800, 3em);
		display: inline-block;
	}
}
.right_header{
	width: 33.33%;
	.search_group {
		width: 41%;
		display: inline-block;
		margin-left: 200px;
		margin-top: 20px;
		position: relative;
		input {
			border: none;
			background-color: rgba(255,255,255,0);
			vertical-align: middle;
		}
		input[type='text'] {
			width: 150px;
			border-top: 1px solid gainsboro;
        	border-left: 1px solid gainsboro;
        	border-bottom: 1px solid gainsboro;
        	@include border-radius(20px 0 0 20px);
        	height: 33px;
		}
		input[type='button'] {
			width: 18px;
			border-top: 1px solid gainsboro;
        	border-right: 1px solid gainsboro;
        	border-bottom: 1px solid gainsboro;
          	@include border-radius(0 20px 20px 0);
        	height: 37px;

		}
		p {
			position: absolute;
			@include font_style(#605e58, 200, 1.5em);
			top: 12px;
			left: 145px;
		}
	}

	.sanji {
		display: inline-block;
		float: right;

		img {
			@include box-size(4em,4em);
			border-radius: (100%);
			margin-top: 1.9em;
			margin-right: 4em;
		}
	}
	
}

.left_aside {
	width: 20%;
	background-color: $blue-bg-color;
	.blogger{
		@include center(center);			
		img {
			@include box-size(9em,9em);
			border-radius: (100%);
			margin-top: 5em;
		}
		span {
			display: block;
			margin-top: 0.7em;
			@include font_style(white, 400, 2em);
			font-family: 'Nunito', sans-serif;
		}
		p {
			margin-top: 0.7em;
			font-family: 'Poiret One', cursive;
			@include font_style(white, 200, 1.5em);
		}
		.icon-link {
			display: block;
			margin-top: 1.3em;
			@include font_style(white, 200, 1.5em);
			cursor: pointer;
			text-decoration: blink;
		}
		button {
			margin-top: 2.5em;
			margin-bottom: 3em;
			@include box-size(12em,3em);
			background-color: $dack-blue-color;
			@extend .com_box_style;
			border: none;
			border-radius: (2em);
			font-family: 'Didact Gothic', sans-serif;
			@include font_style(white, 200, 1.5em);
			cursor: pointer;
		}
	}
	.photo_wall {
		ul {
			width: 100%;
			li {
				@include list_style(33.338%);
				height: 94px;
				border: none;
				img {
					border: none;
					position: absolute;
					width: 100%;
					clip: rect(0, 95px, 95px, 0);
				}
			}
		}
	}
	.activities {
		margin-left: 2em;
		padding-bottom: 10em; 
		.act_title {
			text-transform:uppercase;
			margin-top: 21em;
			font-family: 'Poiret One', cursive;
			@include font_style(white, 200, 1.5em);
		}
		ul {
			li {
				margin-top: 1em;
				.blue_icon {
					@include icon_style($dack-blue-color);
					margin-right: 0.7em;
				}
				.active {
					margin-right: 0.5em;
					font-family: 'Poiret One', cursive;
					@include font_style($dack-blue-color, 400, 1.5em);
				}
				a {
					font-family: 'Poiret One', cursive;
					@include font_style(white, 200, 1.5em);
					cursor: pointer;
				}	
			}
		}		
	}
}

.main_body {
	width: 55%;
	position: absolute;
	top: 11em;
	left: 32em;

	nav {
		ul {
			width: 100%;
			background-color: $post-bg-color;

			li {
				padding-top: 2em;
				padding-bottom: 2em;
				@include center(center);
				@include list_style(25%);
				:first-child {
					font-family: 'Poiret One', cursive;
					@include font_style($gray-text-color, 200, 2em);
				}
				:last-child {
					margin-top: 0.3em;
					font-family: 'Nunito', sans-serif;
	  				@include font_style($text-color, 500, 1.7em);

				}
				&:hover {
					border-bottom: 4px solid $blue-bg-color;
					@include box-sizing(border-box);

				}
			}
		}
	}
	.blog_list {
			background-color: $post-bg-color;		
	}
}

.right_aside {
	position: absolute;
	top: 8.1em;
	right: 0em;
	background-color: $post-bg-color;
	width: 20%;
	.right_body {
		margin-left: 3em;
		margin-top: 3em;
		p {
		font-family: 'Poiret One', cursive;
		@include font_style($text-color, 200, 1.8em);
		}
	}	
}

.blog_list {
	width: 100%;
	margin-top: 3em;
	article {
		width: 100%;
		padding-top: 3em;
		padding-bottom: 3em;
		position: relative;
		background-color: $post-bg-color;
		border-bottom: 1px solid $body-color;
		.head_photo{
			margin-left: 3em;

			background-image: url(../imgs/sanji.jpg);
			@include box_size(4em,4em);
			background-size: cover;
			position: absolute;
			border-radius: (100%);
		}
		section {
			margin-left: 9em;
		}
	} 
}