/* line 5, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 38, ../sass/style.scss */
body {
  font-size: 62.5%;
}

/* line 41, ../sass/style.scss */
header {
  background-color: aliceblue;
  width: 100%;
  height: 8em;
}
/* line 45, ../sass/style.scss */
header > * {
  float: left;
}

/* line 50, ../sass/style.scss */
.left_header {
  width: 33.33%;
}
/* line 54, ../sass/style.scss */
.left_header ul .editor {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid gainsboro;
  width: 8em;
  height: 8em;
  margin-right: 2em;
}
/* line 59, ../sass/style.scss */
.left_header ul .editor div {
  background-color: #80a8cc;
  width: 4em;
  height: 4em;
  border-radius: 3.5em;
  margin-top: 1.8em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
}
/* line 24, ../sass/style.scss */
.left_header ul .editor div p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 2em;
  padding-top: 10px;
}
/* line 65, ../sass/style.scss */
.left_header ul li {
  width: 15%;
  float: left;
  position: relative;
}
/* line 67, ../sass/style.scss */
.left_header ul li div {
  background-color: white;
  width: 4em;
  height: 4em;
  border-radius: 3.5em;
  margin-top: 1.8em;
  border: 1px solid gainsboro;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 24, ../sass/style.scss */
.left_header ul li div p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  font-weight: 800;
  font-size: 2em;
  padding-top: 10px;
}

/* line 76, ../sass/style.scss */
.icon-twitter {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
  margin-top: 1em;
  color: #80a8cc;
  font-weight: 800;
  font-size: 3em;
  display: inline-block;
}

/* line 83, ../sass/style.scss */
.search_group {
  width: 15%;
  display: inline-block;
}
